<style type="text/css">
	.selectize-input{
		width: 150px;
	}
	.related-widget-wrapper {
	    overflow: inherit;
	}
	.field-{{name}}{
		overflow: inherit;
    	height: 55px;
	}
</style>
{{value}}
<select id="select-state{{name}}" name="{{name}}" multiple class="demo-default" style="width:50%" placeholder="Seleccione un...">
	{% for choice in choices %}
	<option value="{{choice.pk}}">{{choice}}</option>
	{% endfor %}}
</select>
<script>
	$('#select-state{{name}}').selectize({});
</script>