{% extends 'empresa/index.html' %}
{% load filters %}
{% block miga %}
	{% include 'empresa/miga_pan.html' with miga='empresa' empresa=empresa %}
{% endblock %}
{% block lateral %}
	{% include 'empresa/panel_empresa.html' with empresas=''|panel_empresas %}
{% endblock %}
{% block herramientas %}
	<a href="{% url 'form_crear_departamento' empresa.pk %}">Crear un departamento</a>
{% endblock %}
{% block contenido %}
	{% include 'empresa/mapa_proceso.html' with departamentos=departamentos %}
{% endblock %}